.nav-menu, .dropdown-menu {
    background-color: rgb(3, 165, 0);
}
.active {
    background-color: rgb(5, 197, 0);
}
.container>.btn-group>.btn:hover {
    background-color: rgb(5, 197, 0);
}
.dropdown>.btn:focus {
    background-color: rgb(5, 197, 0);
}
.dropdown-item:hover {
    background-color: rgb(5, 197, 0) !important;
}


.aside-content .list-group-item {
    background-color: rgb(238, 238, 238);
}
.aside-content.list-group .list-group-item:nth-of-type(1) {
    background-color: rgb(3, 165, 0);
    border-top-left-radius: 0%;
    border-top-right-radius: 1.5em;
}
.aside-content .list-group-item svg:nth-of-type(1) {
    color: rgb(5, 197, 0);
}
.aside-content.list-group .list-group-item:nth-of-type(3):hover .dropdown-menu {
    position: absolute;
    inset: 0px auto auto 0px;
    margin: 0px;
    transform: translate(100%, -0.5em);
    display: block;
}
.aside-content.list-group .list-group-item:nth-of-type(3) {
    transition: font-size 1s;
}
.aside-content.list-group .list-group-item:nth-of-type(3):hover {
    font-size: 0.85em;
}


.card img {
    transition: transform 1s;
}
.card img:hover {
    transform: scale(1.5);
}
.card span {
    overflow: hidden;
}


.two-lines {
    height: 5px;
    width: 10%;
    border-top: 1px solid rgb(3, 165, 0);
    border-bottom: 1px solid rgb(3, 165, 0);
    display: inline-block;
}
#horizon-line {
    color: rgb(3, 165, 0)
}


.one-line {
    height: 3px;
    border-top: 5px solid rgb(3, 165, 0);
}


#register {
    background-image: url(./images/men-0320.jpg);
    background-position: center;
}
#register h3 {
    color: yellow;
}
#register span {
    background-color: yellow;
}
#register button {
    background-color: yellow;
}
#register>div {
    background-color: rgba(0, 0, 0, 0.5);
}


#nav-bot {
    background-color: rgb(3, 165, 0);
}


#go-top {
    z-index: 1;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
}


/* Tablet */
#offcanvas {
    position: fixed;
    z-index: 1;
    top: 10px;
    right: 10px;
}